<div class="px-4 sm:px-6 lg:px-8">
  <app-game-table-header
    [currentGame]="currentGame$ | async"
    [currentPlayer]="currentPlayer$ | async"
    [countdown]="countdown$ | async"
    (createGame)="onCreateGame()"
    (readyForGame)="onReady($event)"
    (startGame)="onStartGame($event)"
  ></app-game-table-header>

  <div class="flow-root mt-8">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <app-game-table
          [games]="games$ | async"
          [currentGame]="currentGame$ | async"
          (joinGame)="onJoinGame($event)"
        ></app-game-table>
      </div>
    </div>
  </div>
</div>
