<li>
  <div class="relative pb-8">
    <span
      class="absolute left-4 top-4 -ml-px h-full w-0.5 bg-gray-200"
      aria-hidden="true"
    ></span>
    <div class="relative flex space-x-3">
      <div>
        <span
          class="flex items-center justify-center w-8 h-8 bg-gray-400 rounded-full ring-8 ring-white"
          [class.!bg-green-500]="event.iconType == LiveFeedIcon.Connected"
          [class.!bg-blue-500]="event.iconType == LiveFeedIcon.Game"
          [class.!bg-orange-500]="event.iconType == LiveFeedIcon.Player"
          [class.!bg-red-500]="event.iconType == LiveFeedIcon.Disconnected"
        >
          <svg
            *ngIf="event.iconType == LiveFeedIcon.Player"
            class="w-[20px] h-[20px] text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm5.495.93A.5.5 0 0 0 6.5 13c0 1.19.644 2.438 1.618 3.375C9.099 17.319 10.469 18 12 18c1.531 0 2.9-.681 3.882-1.625.974-.937 1.618-2.184 1.618-3.375a.5.5 0 0 0-.995-.07.764.764 0 0 1-.156.096c-.214.106-.554.208-1.006.295-.896.173-2.111.262-3.343.262-1.232 0-2.447-.09-3.343-.262-.452-.087-.792-.19-1.005-.295a.762.762 0 0 1-.157-.096ZM8.99 8a1 1 0 0 0 0 2H9a1 1 0 1 0 0-2h-.01Zm6 0a1 1 0 1 0 0 2H15a1 1 0 1 0 0-2h-.01Z"
              clip-rule="evenodd"
            />
          </svg>

          <svg
            *ngIf="event.iconType == LiveFeedIcon.Game"
            class="w-[20px] h-[20px] text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M18.458 3.11A1 1 0 0 1 19 4v16a1 1 0 0 1-1.581.814L12 16.944V7.056l5.419-3.87a1 1 0 0 1 1.039-.076ZM22 12c0 1.48-.804 2.773-2 3.465v-6.93c1.196.692 2 1.984 2 3.465ZM10 8H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h6V8Zm0 9H5v3a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-3Z"
              clip-rule="evenodd"
            />
          </svg>

          <svg
            *ngIf="event.iconType == LiveFeedIcon.Connected"
            class="w-6 h-6 text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 11.917 9.724 16.5 19 7.5"
            />
          </svg>

          <svg
            *ngIf="event.iconType == LiveFeedIcon.Disconnected"
            class="w-6 h-6 text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 13V8m0 8h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
            />
          </svg>
        </span>
      </div>
      <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
        <div>
          <p class="text-sm text-gray-500">
            {{ event.message }}
          </p>
        </div>
        <div class="text-sm text-right text-gray-500 whitespace-nowrap">
          <time datetime="2020-09-20">
            {{ event.timestamp | date : "shortTime" }}
          </time>
        </div>
      </div>
    </div>
  </div>
</li>
