<div class="sm:flex sm:items-center">
  <div class="sm:flex-auto">
    <h1 class="text-xl text-blue-600 title">Cap Table Chaos: Trivia</h1>
  </div>

  <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
    <button
      *ngIf="!currentGame"
      type="button"
      (click)="onCreate()"
      class="button w-[115px]"
    >
      <span>Create Game</span>
    </button>

    <button
      *ngIf="
        currentGame &&
        !currentGame?.players_ready[currentPlayer] &&
        !allPlayersReady
      "
      type="button"
      (click)="onReady()"
      class="button w-[115px]"
    >
      <span>Ready Up</span>
    </button>

    <button
      *ngIf="
        currentGame &&
        currentGame?.players_ready[currentPlayer] &&
        !allPlayersReady
      "
      type="button"
      [disabled]="true"
      (click)="onReady()"
      class="button w-[115px]"
    >
      <span>Waiting...</span>
    </button>

    <button
      *ngIf="currentGame && allPlayersReady && countdown === null"
      type="button"
      (click)="onStart()"
      class="button w-[115px]"
    >
      <span>Start Game!</span>
    </button>

    <button
      *ngIf="countdown !== null"
      type="button"
      [disabled]="true"
      class="button w-[115px]"
    >
      <span>{{ countdown !== 0 ? countdown : "GO!" }}</span>
    </button>
  </div>
</div>
